
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/categories.js"></script>

<h1>Kategoriler</h1>

<div class="text-md-left">
    <a class="navbar-brand btn btn-success" asp-controller="Home" asp-action="CreateOrUpdateCategory">Yeni</a>
</div>

<div class="text-center">
    <div class="categories container-fluid">

    </div>
</div>