@{
    ViewData["Title"] = "Makaleler";
}

<script src="~/js/articles.js" type="text/javascript" asp-append-version="true"></script>


<div class="text-center">
    <h1 class="display-4">Hoşgeldin</h1>
</div>
<div class="text-md-left">
    <a class="navbar-brand btn btn-success" asp-controller="Home" asp-action="CreateOrUpdateArticle">Yeni</a>
</div>
<div class="text-center">
    <div class="articles container-fluid">

    </div>
</div>